.SCSBi-animation-container {
    display: flex;
    align-items: end;
    position: relative;
    width: max-content;
    height: 100%;
}
.SCSBi-animation-cross {
    height: 100%;
    z-index: 2;
    animation: scale 1s forwards;
}
.SCSBi-animation-bracket {
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slide .5s 1s forwards;
}
@keyframes scale {
    0% {
        transform: scale(0) rotate(-90deg);
    }
    100% {
        transform: scale(1) rotate(0);
    }
}
@keyframes slide {
    0% {
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(150%);
    }
}

@media screen and (max-width: 768px) {
    .SCSBi-animation-cross {
        position: absolute;
    }
}