.containerContacts {
    min-height: 85dvh;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7.320vw;
    margin-top: 16.105vw;
    margin-bottom: 10.978vw;
}
.titleBoxContacts {
    width: 91.2153%;
    height: 32.202vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactsTitleStrokeBox {
    width: 100%;
    height: 22.7273%;
    display: flex;
    justify-content: space-between;
}
.contactsTitleBigBox {
    width: 100%;
    height: 69.3182%;
    display: flex;
    justify-content: space-between;
}
.contactsTitleContainer {
    width: 49.2369%;
    height: 77.0492%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactsTitleSubContainer {
    height: 42.735%;
    width: 100%;
    display: flex;

}
.contactsTitle {
    font-size: 6.4rem;
    font-weight: bold;
    letter-spacing: -5%;
    line-height: 72.7%;
}
.contactsTitle1 {
    color: var(--secondary-color);
}
.contactsTitle2 {
    color: var(--accent-color);
}
.contactsTitle3 {
    color: var(--secondary-color);
}
.contactsStyleElement1 {
    width: 49.2369%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactsStyleElement2 {
    width: 55.9543%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Форма обратной связи */
.contactForm {
    justify-self: end;
    align-self: flex-end;
    position: relative;
    width: 49.2369%;
    height: 78.6885%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.contactForm input {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border: 1px solid var(--secondary-color);;
    border-radius: 2rem;
    font-size: .8rem;
    padding-left: .8rem;
    height: 2rem;
    letter-spacing: -0.05em;
    outline: none;
}
.contactForm input::placeholder {
    opacity: 1;
    color: var(--secondary-color);
}
/* Ввод ФИО */
.nameFormContainer {
    width: 66%;
    height: 16.6667%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.personalInfoIcon {
    height: 60%;
    position: absolute;
    right: .8rem;
}
.contactsName {
    width: 100%;
    height: 100%;
}
/* Ввод даты рождения */
.contactsDateBirthContainer {
    width: 31.2%;
    height: 16.6667%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contactsDateBirth {
    width: 100%;
    height: 100%;
}
.dateBirthIcon {
    height: 60%;
    position: absolute;
    right: .8rem;
}
/* Ввод email */
.emailFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48.4502%;
    height: 16.6667%;
    position: relative;
}
.emailIcon {
    height: 60%;
    position: absolute;
    right: .8rem;
}
.contactsEmail {
    width: 100%;
    height: 100%;
}
/* Ввод телефона */
.phoneFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48.4502%;
    height: 16.6667%;
    position: relative;
}
.phoneIcon {
    height: 60%;
    position: absolute;
    right: .8rem;
}
.contactsPhone {
    width: 100%;
    height: 100%;
}
/* Ввод сообщения */
.messageFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 16.6667%;
    position: relative;
}
.messageIcon {
    height: 60%;
    position: absolute;
    right: .8rem;
}
.contactsMessage {
    width: 100%;
    height: 100%;
}
/* Кнопка отправки */
.sendButtonFormContainer {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
}
/* Инфо о нас */
.contactsAboutUs {
    height: 10.981vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12%;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 12%,
        rgba(0,0,0,1) 88%,
        rgba(0,0,0,0)
    );
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}
.contactsAboutUsBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}
.contactsAboutUsTitle {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.05em;
    line-height: 110%;
}
.contactsInfo {
    width: 91.2153%;
    height: 10.2489vw;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.contactsInfo1 {
    height: 100%;
    width: 48.9567%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.contactsInfo2 {
    height: 100%;
    width: 48.9567%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.contactsInfoHashtag {
    font-size: 2rem;
    font-weight: 500;
}
.contactsContentBottom {
    width: 91.2153%;
    height: 40.9956vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactsContentBottom1 {
    width: 100%;
    height: 81.6239%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contactsContentBottomPicture {
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onMapAdress {
    width: 100%;
    z-index: 3;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    position: absolute;
    bottom: 0;
    border-radius: .2rem .2rem .5rem .5rem;
}
@media screen and (max-width: 768px) {
    .containerContacts {
        width: 89.33%;
        row-gap: 10vh;
        margin-top: 10vh;
    }
    .titleBoxContacts {
        display: contents;
    }
    .contactsTitleBigBox {
        display: contents;
    }
    .contactsTitleContainer {
        width: 100%;
        height: 6.43rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contactsTitleStroke1 {
        height: 38.89%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .contactsTitleStroke2 {
        height: 38.89%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .contactsTitle {
        font-size: 3.43rem;
    }
    .contactsStyleElement2 {
        width: 20.6%;
        height: 100%;
    }
    .contactsTitle3 {
        color: var(--accent-color);
    }
    .contactsInfoHashtag {
        font-size: 1.43rem;
    }
    .contactsInfoText {
        font-size: 1rem;
    }
    .contactsContentBottom {
        order: 4;
    }
    .contactsContentBottom1 {
        border-radius: .5rem;
    }
    .contactsContentBottomPicture {
        object-fit: cover;
        border-radius: .5rem;
    }
    .contactsInfo {
        order: 3;
        flex-direction: column;
        width: 100%;
        height: max-content;
        row-gap: 1.43rem;
    }
    .contactsInfo1 {
        width: 100%;
    }
    .contactsInfo2 {
        width: 100%;
    }
    .contactsAboutUs {
        height: max-content;
        order: 5;
        padding: 1.43rem 0;
    }
    .contactsAboutUsBox {
        row-gap: 0.71rem;
    }
    .contactsAboutUsTitle {
        font-size: 1.43rem;
    }
    .contactsAboutUsText {
        font-size: 1rem;
    }
    .contactForm {
        width: 100%;
        height: max-content;
        order: 6;
    }
    .nameFormContainer {
        width: 100%;
    }
    .contactsDateBirthContainer {
        width: 100%;
    }
    .emailFormContainer {
        width: 100%;
    }
    .phoneFormContainer {
        width: 100%;
    }
    .messageFormContainer {
        height: 5.79rem;
    }
    .contactsMessageArea {
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        color: var(--secondary-color);
        border: 1px solid var(--secondary-color);
        font-size: 1rem;
        border-radius: 1.43rem;
        padding-top: 2.5%;
        padding-left: 3%;
        outline: none;
    }
    .contactsMessageArea::placeholder {
        color: var(--secondary-color);
    }
    .contactForm input {
        font-size: 1rem;
        font-weight: 400;
    }
    .messageIcon {
        height: 1.43rem;
        top: 10%;
        right: 2.5%;
    }
}