.minHeader {
    margin: 0 auto;
    width: 87.7333%;
    height: 20.5333vw;
    padding-top: 1rem;
}
.minHeader.active {
    position: absolute;
    z-index: 98;
    margin: 0 auto;
    width: 100%;
}
.logoContainer {
    height: 2.64rem;
    width: 2.64rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.logoPic {
    width: 100%;
    height: 100%;
}
.burgerMenu {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes rollIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes rollOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

.burgerMenu.active {
    position: absolute;
    z-index: 99;
    animation: rollIn .5s ease;
    left: 0;
    height: 110dvh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: start;
}

.burgerMenu.closing {
    position: absolute;
    z-index: 100;
    animation: rollOut .5s ease;
    left: 0;
    height: 110dvh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: start;
}

.burgerMenuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burgerMenuContainer.active {
    width: 87.7333%;
    padding-top: 1rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.burgerMenuIconLink {
    width: 2.64rem;
    height: 2.64rem;
    transition: all .5s ease;
}
.burgerMenuIcon {
    width: 100%;
    height: 100%;
}
.burgerWrapper {
    display: none;
}
.burgerWrapper.active {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burgerMenuLinks {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.71rem;
}
.navLinkMobile {
    width: 51.45vw;
    height: 10.67vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.79rem;
    border-radius: 2rem;
}
.navLinkMobileLast {
    margin-top: 4.29rem;
    background-color: var(--accent-color);
}
.hidden {
    display: none;
}