.mainPage {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.32vw;
}
.fullScreenContainer1 {
    width: 100%;
    height: 56.223vw;
    background-image: url(../../assets/mainPage/mainPage.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.pageTitle {
    position: absolute;
    bottom: 0;
    width: 91.2153%;
}
.titleText1 {
    color: var(--primary-color);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 93%;
}
.topRow {
    width: 91.22%;
    height: 18.74vw;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}
.topRow1 {
    height: 39.1%;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 1.75rem;
}
.titleText2 {
    color: var(--accent-color);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 72.9%;
}
.textBox1Text {
    font-size: 1.2rem;
}
.textBox2Text {
    font-size: 1.2rem;
}
.fullScreenContainer2 {
    width: 91.2153%;
    height: 63.69vw;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 7.32vw;
}
.contentContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1vw 10vw 24vw 10vw 5vw;
    grid-template-areas:
    ". . . . . . . . . . . ." 
    "text1 text1 . . . . . . . . . ."
    ". . . . . . . . . . . ."
    "text2 text2 text2 text2 text2 text2 text2 . . . . ."
    ". . . . . . . . . . . .";
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.container2TextBox1 {
    grid-area: text1;
}
.textBox1Title {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 100%;
}
.textBox1Text {
    width: 100%;
}
.textBox2Title {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 100%;
}
.container2TextBox2 {
    grid-area: text2;
}
.interactiveLine {
    height: 10.981vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 7.32vw;
}

.interactiveLine::before,
.interactiveLine::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        var(--secondary-color) 12%,
        var(--secondary-color) 88%,
        transparent
    );
}

.interactiveLine::before {
    top: 0;
}

.interactiveLine::after {
    bottom: 0;
}

.iLineElements {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.iLineElement {
    display: flex;
    height: 60%;
    column-gap: .75rem;
    justify-content: center;
    flex: 1;
}
.weatherIcon {
    width: auto;
    height: 100%;
}
.peopleIcon {
    height: 100%;
    width: auto;
}
.timeIcon {
    height: 100%;
    width: auto;
}
.titleInfo {
    font-size: 2rem;
    font-weight: 500;
}
.subText {
    font-size: 1.2rem;
    font-weight: 400;
}
.statusInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .5rem;
}
.freeIndicator {
    width: 1rem;
    height: 1rem;
    background-color: rgb(0, 155, 0);
    border-radius: 100%;
    animation: blink 3s ease infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 1;
    }
}
.cardsContent {
    width: 91.2153%;
    height: 62.958vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 13.17vw 3.66vw 3.66vw 3.66vw 7.32vw 16.8374vw 14.64vw;
    grid-template-areas:
    ". card1 card1 card1 card1 . card3 card3 card3 card3 card3 ."
    ". card1 card1 card1 card1 . . . . . . ."
    ". card1 card1 card1 card1 . anim1 anim1 . . . ."
    ". card1 card1 card1 card1 . anim1 anim1 . card5 card5 card5"
    ". . . . . . . . . card5 card5 card5"
    "card2 card2 card2 text1 text1 text1 text1 text1 text1 card5 card5 card5"
    "card2 card2 card2 . card4 card4 card4 card4 . card5 card5 card5";
    column-gap: 1rem;
    position: relative;
    margin-bottom: 7.32vw;
}

.animationContainer {
    grid-area: anim1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.anonsText {
    grid-area: text1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: start;
    line-height: 72.7%;
    font-family: "Inter";
    font-size: 6.4rem;
    font-weight: 700;
    color: var(--accent-color);
}
.mapContainer {
    height: 58.56vw;
    width: 91.2153%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.32vw;
}
.mapImage {
    width: 100%;
    height: auto;
}
.rulesContainer {
    height: 38.43vw;
    width: 91.2153%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 7.32vw;
}
.rulesTitleRow {
    width: 100%;
    height: 42.1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rulesStroke1 {
    width: 100%;
    height: 45.25%;
    display: flex;
    align-items: center;
}
.rulesStroke1Text {
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 72.7%;
    padding-right: 2rem;
}
.rulesStroke2 {
    height: 42.08%;
    display: flex;
    align-items: center;
}
.rulesStroke2Text {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--accent-color);
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 72.7%;
}
.rulesStrokeAnimation {
    height: 100%;
    width: auto;
}
.listContainer {
    width: 100%;
    height: 38.86%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5rem;
}
.listItem {
    width: 44.65%;
    height: 23.53%;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.listPointIcon {
    height: 100%;
    width: auto;
}
@media screen and (max-width: 768px) {
    .titleText1 {
        font-size: 2.57rem;
    }
    .titleText2 {
        font-size: 2.57rem;
    }
    .textBox1Title {
        font-size: 2.57rem;
    }
    .textBox2Title {
        font-size: 2.57rem;
    }
    .fullScreenContainer2 {
        min-height: 29.21rem;
    }
    .textBox1Text {
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
    .textBox2Text {
        width: 100%;
        height: 100%;
        font-size: 1rem;
    }
    .contentContainer {
        overflow: hidden;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 7.79rem 7.21rem 10.21rem 3.57rem;
        grid-template-areas:
        "text1 text1 . . . . "
        ". . . . . ."
        "text2 text2 text2 text2 text2 text2"
        ". . . . . .";
        column-gap: 1rem;
    }
    
    .container2TextBox2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .interactiveLine {
        height: max-content;
    }
    
    .weatherIcon {
        width: 3.21rem;
    }
    
    .peopleIcon {
        width: 3.21rem;
    }
    
    .timeIcon {
        width: 3.21rem;
    }
    
    .iLineElements {
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 91.2153%;
    }

    .iLineElement {
        flex-direction: column;
        align-items: center;
    }

    .titleInfo {
        font-size: 1.43rem;
        text-align: center;
    }

    .topRow1 {
        margin-top: 0.8rem;        
    }

    .cardsContent {
        height: max-content;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 6.5rem 2.5rem 2.5rem 3.2rem 5.7rem 4rem 6.5rem;
        grid-template-areas: 
        "card1 card1 . card3 card3 card3"
        "card1 card1 . . . ."
        "card1 card1 . . card8 card8"
        ". . . . card8 card8"
        "text1 text1 text1 text1 card8 card8"
        "card2 card2 card2 . . ."
        "card2 card2 card2 card5 card5 card5";   
    }

    .animationContainer {
        display: none;
    }

    .anonsText {
        font-size: 3.5rem;
        color: var(--secondary-color);
    }
    
    .rulesStroke1 {
        height: 2.57rem;
    }
    
    .rulesStroke1Text {
        font-size: 2.57rem;
    }
    
    .rulesStroke2 {
        margin-top: 0.5rem;    
    }

    .rulesStroke2Text {
        font-size: 2.57rem;
    }
    
    .rulesContainer {
        height: max-content;
    }
    
    .listContainer {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .listItem {
        width: 100%;
    }
}