.historyPage {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7.32vw;
}
.fullScreenContainer1 {
    width: 100%;
    height: 56.223vw;
    background-image: url(../../assets/history/historyBg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
}
.pageTitle {
    position: absolute;
    bottom: 0%;
    width: 91.2153%;
    display: flex;
    flex-direction: column;
}
.titleText1 {
    color: var(--primary-color);
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 72.7%;
}
.textBox1Text {
    font-size: 1.2rem;
}
.textBox2Text {
    font-size: 1.2rem;
}
.dateContainer {
    width: 33.82%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: -.7%;
    right: 0;
}
.dateContainerRow2 {
    display: flex;
    justify-content: center;
}
.dateContainerRowText {
    font-size: 5.5rem;
    font-weight: 100;
    color: var(--primary-color);
    line-height: 82.6%;
}
.topRow {
    width: 91.22%;
    height: 18.74vw;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}
.topRow1 {
    height: 39.1%;
    width: 100%;
    display: flex;
    margin-top: 1.75rem;
}
.titleIcon {
    height: 100%;
    width: auto;
}
.titleText2 {
    color: var(--accent-color);
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 72.9%;
}
.interactiveLine {
    z-index: 8;
    position: sticky;
    top: 0;
    left: 0;
    height: 13.03vw;
    width: 100%;
    column-gap: 12%;
    display: flex;
    align-items: center;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-bottom: 7.32vw;
    background-color: var(--primary-color);
}
.interactiveLineElements {
    position: absolute;
    top: 0;
    display: inline-flex;
    width: 91.2152%;
    overflow: scroll;
    scroll-snap-type: both mandatory;
}
.interactiveLineProgressBar {
    z-index: 9;
    position: absolute;
    top: 14%;
    background-color: var(--secondary-color);
    width: 100%;
    height: .2rem;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 12%,
        rgba(0,0,0,1) 88%,
        rgba(0,0,0,0)
    );
    
}
.interactiveLineElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.interactiveLineElementLink {
    text-decoration: none;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.active {
    font-size: 3.4rem;
}
.interactiveLineElementIndicator {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--secondary-color);
    border-radius: 100%;
}
.interactiveLineElementTitle {
    font-size: 1.7rem;
    letter-spacing: -0.05em;
    line-height: 110%;
    font-weight: medium;
    text-align: center;
}
.interactiveLineElementText {
    font-size: 1rem;
    text-align: center;
}
/* История карточки */
.fullScreenContainer2 {
    min-height: 100dvh;
    width: 91.2152%;
    display: flex;
    flex-direction: column;
    row-gap: 7.32vw;
    position: relative;
}
.wideContainer1 {
    width: 100%;
    display: flex;
    height: 32.94vw;
    justify-content: space-between;
}
.wideContainer1Col1 {
    height: 100%;
    width: 66.13%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.wideContainer1Title {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 100%;
}
.wideContainerTextBox {
    width: 87.26%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.wideContainerText {
    font-size: 1rem;

}
.wideContainer1Col2 {
    width: 32.36%;
    height: 100%;
}
.imageTomishko {
    width: 100%;
    border-radius: 1rem;
}
/* 1892 */
.container1892 {
    scroll-margin-top: 13.1vw;
    height: 43.78vw;
    width: 100%;
    display: flex;
    column-gap: 1rem;
    flex-direction: column;
    position: relative;
}
.container1892Row1 {
    height: 66.89%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    position: absolute;
    top: 0;
}
.container1892Row1Col1 {
    z-index: 2;
    width: 35.15%;
    height: 63.25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0;
}
.container1892Row1Col2{
    z-index: 1;
    width: 66.21%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    right:0;
}
.container1892Row2 {
    height: 28.1%;
    width: 66.21%;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
}
.container1892Title {
    padding-left: 4%;
    width: 100%;
}
.container1892Animation {
    height: 39.53%;
    width: 43.38%;
    display: flex;
    justify-content: start;
}
.image1892 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.wideContainerTitle {
    font-size: 6.41rem;
    font-weight: 700;
    color: var(--accent-color);
    letter-spacing: -0.05em;
    line-height: 72.7%;
}
.container1892Col2Row {
    width: 100%;
    display: flex;
}
/* ^1892^ */
/* 1905 */
.container1905 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 29.28vw;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.container1905Row1 {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.container1905Row1Col1 {
    width: 66.13%;
    position: absolute;
    left: 0;
    z-index: 1;
}
.container1905Row1Col2 {
    width: 35.63%;
    position: absolute;
    right: 0;
    z-index: 2;
}
.image1905 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.container1905Row2 {
    position: absolute;
    right: 0;
    bottom: 25%;
    width: 35.63%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.container1905Title {
    padding-right: 7%;
    padding-bottom: 3rem;
}
.container1905Text {
    width: 66.66%;
}
/* ^1905^ */
/* 1917 */
.container1917 {
    scroll-margin-top: 13.1vw;
    row-gap: 2.2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container1917Col1 {
    width: 33.06%;
}
.container1917Col2 {
    width: 57.62%;
}
.paragraph1917 {
    width: 100%;
}
.container1917Row2 {
    width: 100%;
}
.image1917 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
/* ^1917^ */
/* 1937 */
.container1937 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 43.92vw;
    display: flex;
    position: relative;
}
.container1937Col1 {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 51.68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1937Col1Row1 {
    height: 36.83%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-left: 1%;
    column-gap: 2rem;
}
.container1937Animation {
    width: 30.99%;
    height: 45.25%;
}
.container1937Col1Row2 {
    height: 51.33%;
    width: 82.87%;
    display: flex;
    flex-wrap: wrap;
}
.container1937Col2 {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 49.2%;
    display: flex;
}
.image1937 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem;
}
/* ^1937^ */
/* 1941 */
.container1941 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 43.92vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.container1941Col1 {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 49.44%;
}
.image1941 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.container1941Col2 {
    position: absolute;
    right: 0;
    z-index: 2;
    width: 52.8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.container1941Col2Row1 {
    width: 100%;
    height: 36.83%;
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
}
.container1941Col2Row1Box1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container1941Title1 {
    padding-left: 15%;
}
.container1941Col2Row2 {
    width: 77.05%;
    height: 51.33%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
/* ^1941^ */
/* 1958 */
.container1958 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 29.28vw;
    display: flex;
    justify-content: space-between;
}
.container1958Col1 {
    height: 100%;
    width: 66.13%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.container1958Text {
    width: 87.25%;
}
.container1958Col2 {
    height: 100%;
    width: 32.26%;
}
.image1958 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
/* ^1958^ */
/* 1990 */
.container1990 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 29.28vw;
    display: flex;
    justify-content: space-between;
}
.container1990Col1 {
    width: 49.2%;
    height: 100%;
}
.image1990 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
.container1990Col2 {
    width: 40.7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.container1990Col2Row2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
/* ^1990^ */
/* 2006 */
.container2006 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 29.28vw;
    display: flex;
    justify-content: space-between;
}
.container2006Col1 {
    width: 37.48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.container2006Col2 {
    width: 57.7%;
    height: 100%;
}
.image2006 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
/* ^2006^ */
/* 2017 */
.container2017 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 43.92vw;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.container2017Col1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container2017Col1Row1 {
    width: 34.83%;
}
.container2017Col1Row2 {
    width: 57.62%;
}
.paragraph2017 {
    width: 100%;
}
.container2017Col2 {
    width: 100%;
    height: 66.66%;
    display: flex;
}
.image2017 {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 1rem;
}
/* ^2017^ */
/* 2025 */
.container2025 {
    scroll-margin-top: 13.1vw;
    width: 100%;
    height: 29.28vw;
    display: flex;
    position: relative;
}
.container2025Col1 {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 40.77%;
    height: 100%;
}
.image2025 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: grayscale(100%);
}
.container2025Col2 {
    position: absolute;
    z-index: 2;
    right: 0;
    width: 62.12%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 3rem;
}
.container2025Col2Row1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container2025Col2Row2 {
    width: 100%;
    display: flex;
    justify-content: end;
}
.container2025Anim {
    width: 24.55%;
    height: 100%;
}
.paragraph2025 {
    width: 79.2%;
}
/* ^2025^ */
.containerAboutPeople {
    height: 135.07vw;
}
.famousPeopleBlock {
    height: 45.26%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6.19vw;
    margin-bottom: 7.32vw;
}
.famousPeopleBlockTitle {
    height: 26.467%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
}
.famousPeopleBlockTitleText1 {
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 72.7%;
}
.famousPeopleBlockTitleSub {
    height: 42.08%;
    width: 100%;
    display: flex;
    column-gap: 7.83vw;
}
.famousPeopleBlockTitleSubAnimation {
    height: 100%;
    width: 8.03%;
    display: flex;
    justify-content: start;
}
.famousPeopleBlockTitleText2 {
    color: var(--accent-color);
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 72.7%;
}
.containerDangerousPeople {
    height: 48.23%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6.19vw;
}
.dangerousPeopleBlockTitle {
    height: 25.62%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.75rem;
}
.dangerousPeopleBlockTitleText1 {
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 72.7%;
}
.dangerousPeopleBlockTitleSub {
    height: 42.08%;
    width: 100%;
    display: flex;
    column-gap: 7.83vw;
}
.dangerousPeopleBlockTitleSubAnimation {
    height: 100%;
    width: 8.03%;
    display: flex;
    justify-content: start;
}
.dangerousPeopleBlockTitleText2 {
    color: var(--accent-color);
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 72.7%;
}

[id^="y"] {
  scroll-margin-top: 12.5rem;
}

@media screen and (max-width: 768px) {
    .historyPage {
        margin-bottom: 20vh;
    }
    .fullScreenContainer2 {
        row-gap: 10vh;
        width: 89.33%;
    }
    .dateContainerRowText {
        display: none;
    }
    /* ШРИФТЫ */
    .titleText1 {
        font-size: 3.43rem;
    }
    .titleText2 {
        font-size: 3.43rem;
    }
    .textBox1Text {
        font-size: 1rem;
    }
    .interactiveLine {
        height: 5.71rem;
        margin-bottom: 0;
    }
    .interactiveLineProgressBar {
        top: 18%;
    }
    .wideContainer1Title {
        font-size: 1.43rem;
    }
    .wideContainerTitle {
        font-size: 3.43rem;
    }
    .famousPeopleBlockTitleText1 {
        font-size: 3.43rem;
    }
    .famousPeopleBlockTitleText2 {
        font-size: 3.43rem;
    }
    .dangerousPeopleBlockTitleText1 {
        font-size: 3.43rem;
    }
    .dangerousPeopleBlockTitleText2 {
        margin-top: -5%;
        max-width: 100%;
        font-size: 3.43rem;
        line-height: 110%;
        word-wrap: break-word;
    }
    .wideContainer1 {
        height: max-content;
        width: 100%;
        flex-direction: column;
        justify-content: start;
    }
    .wideContainerTextBox {
        width: 100%;
        margin-bottom: 1.43rem;
    }
    .wideContainer1Col1 {
        width: 100%;
        height: max-content;
    }
    .wideContainer1Col2 {
        width: 100%;
        height: 17.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imageTomishko {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    /* БЛОКИ */
    .container1892 {
        scroll-margin-top: 12vh;
        height: 25.93rem;
        flex-direction: column;
    }
    .container1892Row1 {
        height: 39.39%;
    }
    .container1892Row1Col1 {
        padding: 0;
        width: 49.25%;
        top: 20%;
    }
    .container1892Row1Col2 {
        width: 57.91%;
        height: 100%;
    }
    .container1892Row2 {
        width: 100%;
        height: 52.34%;
        display: flex;
        flex-direction: column;
        gap: 1.43rem;
    }
    .container1905 {
        scroll-margin-top: 12vh;
        height: 17.21rem;
    }
    .container1905Row1 {
        height: 59.32%;
    }
    .container1905Row1Col1 {
        height: 100%;
        width: 57.61%;
    }
    .container1905Row1Col2 {
        width: 49.85%;
        top: 20%;
    }
    .container1905Row2 {
        position: absolute;
        left: 0;
        bottom: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .container1905Text {
        width: 100%;
    }
    .container1917 {
        scroll-margin-top: 12vh;
        height: 23.29rem;
        width: 100%;
        position: relative;
    }
    .container1917Col1 {
        width: 46.27%;
        height: 10.74%;
        order: 1;
        position: absolute;
        left: 0;
        z-index: 2;
        padding-left: 2%;
    }
    .container1917Col2 {
        width: 100%;
        order: 3;
        position: absolute;
        bottom: 0;
    }
    .container1917Row2 {
        order: 2;
        width: 57.91%;
        height: 43.87%;
        position: absolute;
        right: 0;
        z-index: 1;
    }
    .container1937 {
        scroll-margin-top: 12vh;
        height: 30.57rem;
        position: relative;
    }
    .container1937Animation {
        display: none;
    }
    .container1937Col1 {
        display: contents;
    }
    .container1937Col1Row1 {
        width: 54.93%;
        height: 20.8%;
        z-index: 2;
        position: absolute;
        left: 0;
        top: 5%;
    }
    .container1937Col1Row2 {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .container1937Col2 {
        z-index: 1;
        height: 33.41%;
        width: 59.4%;
        position: absolute;
        right: 0;
        top: 0;
    }
    .container1941 {
        scroll-margin-top: 12vh;
        height: 29.36rem;
        width: 100%;
        position: relative;
    }
    .container1941Col2 {
        display: contents;
    }
    .container1941Col2Row1 {
        width: 62.69%;
        height: 26.76%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .container1941Col2Row1Box1 {
        justify-content: end;
    }
    .container1941Col2Row2 {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .container1941Col1 {
        width: 48.66%;
        height: 34.8%;
    }
    .container1958 {
        scroll-margin-top: 12vh;
        height: 30.36rem;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container1958Col1 {
        display: contents;
    }
    .container1958Col1Row1 {
        width: 100%;
        height: 8.24%;
        order: 1;
    }
    .container1958Col2 {
        width: 100%;
        height: 33.65%;
        order: 2;
    }
    .container1958Col1Row2 {
        width: 100%;
        order: 3;
    }
    .container1958Text {
        width: 100%;
    }
    .container1990 {
        scroll-margin-top: 12vh;
        height: 20.64rem;
        width: 100%;
        position: relative;
    }
    .container1990Col2 {
        display: contents;
    }
    .container1990Col2Row1 {
        width: 48.36%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .container1990Col2Row2 {
        width: 48.5%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        row-gap: 1rem;
    }
    .container1990Col1 {
        width: 48.36%;
        height: 77.51%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .container2006 {
        scroll-margin-top: 12vh;
        height: 18.21rem;
        width: 100%;
        position: relative;
    }
    .container2006Col1 {
        display: contents;
    }
    .container2006Col1Row1 {
        width: 48.66%;
    }
    .container2006Col1Row2 {
        width: 48.36%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .container2006Col2 {
        width: 48.66%;
        height: 74.51%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .container2017 {
        scroll-margin-top: 12vh;
        height: 25.71rem;
        width: 100%;
        position: relative;
    }
    .container2017Col1 {
        display: contents;
    }
    .container2017Col1Row1 {
        width: 48.06%;
        height: 9.72%;
        position: absolute;
        top: 10%;
        left: 0;
        z-index: 2;
    }
    .container2017Col1Row2 {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .paragraph2017 {
        width: 100%;
    }
    .container2017Col2 {
        width: 65.67%;
        height: 39.72%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .image2017 {
        object-position: 25%;
    }
    .container2025 {
        scroll-margin-top: 12vh;
        height: 20.86rem;
        width: 100%;
        position: relative;
    }
    .container2025Col1 {
        width: 59.4%;
        height: 48.97%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .container2025Anim {
        width: 38.37%;
        height: 38.89%;
        justify-content: center;
        align-items: center;
    }
    .container2025Col2 {
        display: contents;

    }
    .container2025Col2Row1 {
        width: 51.34%;
        height: 30.82%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        flex-direction: column;
        align-items: center;
    }
    .container2025Col2Row2 {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .paragraph2025 {
        width: 100%;
    }
    .containerAboutPeople {
        min-height: 301vw;
    }
    .famousPeopleBlock {
        height: max-content;
    }
    .famousPeopleBlockTitleSub {
        height: 2.5rem;
    }
    .containerDangerousPeople {
        height: max-content;
    }
    .dangerousPeopleBlockTitleSub {
        width: 81.5%;
        position: relative;
    }
    .dangerousPeopleBlockTitleSubAnimation {
        position: absolute;
        bottom: 8%;
        right: 10%;
        height: 2.5rem;
        width: 19.85%;
    }
}