.rotating-cross-container {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotating-cross-img {
    height: 100%;
    animation: rotate 1s forwards;
}
@keyframes rotate {
    0% {
        transform: rotate(-180deg) scale(0);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}