.rentPage {
    min-height: 100dvh;

    margin-top: 16.105vw;
    margin-bottom: 10.978vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7.32vw;
}

.rentPageContainer {
    max-width: 91%;
    width: 100%;
    display: grid;
    gap: 100px;
    margin: 0 auto;
}

.rentPageTitle {
    display: flex;
    flex-direction: column;
    letter-spacing: -0.05em;
    line-height: 100%;
    font-weight: 700;
    font-size: 6.4rem;
}

.rentPageTitle span {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.rentPageTitle span:last-child {
    align-self: center;
    color: var(--accent-color);
}

.rentPageTitleIconMobile {
    display: none;
}

.rentPageTitleIcon {
    width: 20vw;
    height: 70%;
}

.rentPageBlock {
    display: grid;
    row-gap: 60px;
}

.rentPageBlockImg {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.rentPageBlockRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.rentPageBlockItemTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.rentPageBlockItemText {
    max-width: 80%;
}

.specificEventStrokeContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    max-width: 91%;
    width: 100%;            
}

.specificEventStrokeContainer::before,
.specificEventStrokeContainer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        var(--secondary-color) 12%,
        var(--secondary-color) 88%,
        transparent
    );
}

.specificEventStrokeContainer::before {
    top: 0;
}

.specificEventStrokeContainer::after {
    bottom: 0;
}

.specificEventStrokeElement {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.specificEventStrokeTerm {
    font-weight: 700;
    font-size: 3rem;
}

@media screen and (max-width: 768px) {
    .rentPage {
        margin-top: 9rem;
    }

    .rentPageContainer {
        gap: 60px;
    }

    .rentPageTitle {
        position: relative;
        font-size: 3.5rem;
        display: inline;
    }

    .rentPageTitleIconMobile {
        display: inline-block;
        max-width: 20vw;
        width: 20vw;
        height: 23%;
        margin-left: 10vw;
    }

    .rentPageTitle span {
        display: inline;
    }

    .rentPageTitleIcon {
        max-width: 20vw;
        display: none;
    }

    .rentPageBlock {
        gap: 20px;
    }

    .rentPageBlockRow {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .rentPageBlockItemTitle {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .rentPageBlockItemText {
        font-size: 14px;
    }
}

.cards {
    display: flex;
}

.card {
    flex: 1;
    min-height: 765px;
    height: 50vw;
    position: relative;
    border-radius: 30px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: -100px;
    padding: 30px;
    padding-top: 50px;
    overflow: hidden;
    box-shadow: -14px 0px 14px 0px hsla(0, 0%, 0%, 0.35);
    transition: margin 150ms linear;
    z-index: 1;

    &:hover {
        .cardNumber {
            color: var(--accent-color);
        }
    }
}

.card:last-child {
    margin-right: 0;
}

.card:hover {
    margin-right: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 1;
}

.cardImage {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.cardImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cardNumber {
    font-weight: 700;
    font-size: 128px;
    line-height: 100%;
    letter-spacing: -5%;
    transition: color 150ms linear;
}

.cardTitle {
    max-width: 341px;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.cardArea {
    position: absolute;
    bottom: 0;
    transform: rotate(-90deg);
}

.cardAreaInner {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -5%;
    text-transform: uppercase;
    white-space: nowrap;
}

.cardArea span {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}

@media screen and (max-width: 768px) {
    
    .specificEventStrokeContainer {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    
    .specificEventStrokeElement {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;        
    }
    
    .cardsContainer {
        max-width: 100%;
        overflow-x: auto;
    }

    .cards {
        padding: 20px;
    }

    .card {
        width: 220px;
        min-height: 350px;
        padding: 20px;
    }

    .cardHeader {
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    .cardNumber {
        font-size: 48px;
        line-height: 110.00000000000001%;
    }

    .cardTitle {
        font-size: 20px;
        line-height: 110.00000000000001%;
    }

    .cardArea {
        position: static;
        transform: none;
        margin-top: auto;
    }
    
    .cardAreaInner {
        position: static;
        font-weight: 500;
        font-size: 20px;
    }

    .cardArea span {
        font-weight: 300;
        font-size: 20px;
        line-height: 110.00000000000001%;
    }

}