@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    height: 100vh;
}
.header {
    z-index: 97;
    position: absolute;
    top: 3.29vw;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 4.026vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer {
    height: 100%;
    width: 91.2153%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logoContainer {
    width: 4.4145%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoContainer a {
    width: 100%;
    height: 100%;
}
.logo {
    width: 100%;
    height: 100%; 
}
.logoContainer a:hover {
    cursor: pointer;
}
.navigation {
    margin-left: 1.5rem;
    width: 57.7047%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}
.buttonContainer {
    height: 100%;
    width: 15.25%;
    display: flex;
    align-items: center;
}
.navLinks {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navLinkWrapper {
    z-index: 2;
    padding: 0 .75rem;
}
.navLink {
    text-decoration: none;
    display: inline-block;
    color: var(--primary-color);
    height: 56.364%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}
.navLink:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.activeIndicator {
    width: 0;
    position: absolute;
    bottom: 23%;
    left: 0;
    height: 50%;
    opacity: 0;
    background-color: var(--primary-color);
    border-radius: 2rem;
    z-index: 1;
    transition: width .3s ease, left .3s ease, visibility .5s ease;
}
.navLinkActive {
    color: var(--secondary-color);
}
.navLinkActive:hover {
    color: var(--secondary-color);
}
.noIndicator .navLinkActive  {
    color: var(--primary-color);
}
.residencyBtn {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 0%;
    font-style: normal;
    font-optical-sizing: auto;
    background-color: var(--accent-color);
    color: var(--primary-color);
}
.residencyBtn:hover {
    cursor: pointer;
    opacity: 0.9;
}

@media (max-width: 768px) {
    .header {
        display: inline;
        top: 0;    
    }
}
