@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --primary-color: #F2ECE4;
    --secondary-color: #151515;
    --accent-color: #780513;
}
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
html {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 1.464vw;
}

@media screen and (max-width: 767px) {
    html {
        font-size: 20px;
    }
}