.placement {
	min-height: 100vh;
}

.placement {
	min-height: 100vh;
    width: 100%;
    display: grid;
    row-gap: 7.32vw;
	margin-top: 16.105vw;
    margin-bottom: 10.978vw;
}

.placementContainer {
	max-width: 91%;
    width: 100%;
    display: grid;
    gap: 100px;
    margin: 0 auto;
}

.placementTitle {
	flex: 1;
	display: flex;
    flex-direction: column;
    letter-spacing: -0.05em;
    line-height: 100%;
    font-weight: 700;
    font-size: 6.4rem;
}

.placementTitleWrap {
    display: flex;
	/* justify-content: space-between; */
    gap: 5vw;
}

div.placementTitle {
    align-self: center;
    color: var(--accent-color);
}

.placementTitleIcons {
	flex: 1;
	display: flex;
	justify-content: center;
}

.rollingStroke-container {
	grid-area: auto;
}

.bid-col1 {
    grid-area: auto;
}

.placementBlock {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 30%);
    gap: 20px;
}

.placementBlockRight {
    height: 100%;
    display: grid;
    align-content: space-between;
}

.placementBlockRightItem {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.placementBlockLeft img {
    max-width: 100%;
    width: 100%;
    max-height: 30vw;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.placementLabel {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.specList {
    display: flex;
    justify-content: space-between;
}

.specItem {
    display: grid;
    gap: 9px;
}

.specValue {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.specLabel {
    font-size: 14px;
    line-height: 100%;
}

.placementBtn {
    margin-left: auto;
}

.rollingStrokeContainer {
    gap: 20px;
    grid-area: auto !important;
}
.rollingStroke1,
.rollingStroke2 {
    height: auto !important;
}
.rolElement {
    padding: 6px 30px !important;
}

.formSection {
    width: 100% !important;
    flex-direction: row !important;
}
.form {
    height: auto !important;
}
.formField {
    height: auto !important;

    input {
        padding: 8px 16px;
    }
}