@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    width: 100%;
    height: 25.6223vw;
    background-color: #151515;
    color: #F2ECE4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerGrid {
    width: 91.142%;
    height: 71.4286%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "col1 col1 col1 . col2 col2 col2 col2 . col3 col3 col3";
    column-gap: 1rem;
}
.gridCol1 {
    grid-area: col1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gridCol2 {
    grid-area: col2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gridCol3 {
    grid-area: col3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 1 колонка */
.logoContainer {
    width: 27.635%;
    height: 34.4%;
}
.logoLink {
    width: 100%;
    height: 100%;
}
.logo {
    width: 100%;
    height: 100%;
}
.rounds {
    height: 53%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: .5rem;
}
.roundStroke1 {
    height: 25.7576%;
    display: flex;
    justify-content: start;
    column-gap: .5rem;
}
.roundStroke2 {
    height: 25.7576%;
    display: flex;
    justify-content: start;
    column-gap: .5rem;
}
.roundStroke3 {
    height: 25.7576%;
    display: flex;
    justify-content: start;
    column-gap: .5rem;
}

.roundElement {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2ECE4;
    border-radius: 1rem;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 100%;
    padding: .5rem 1rem;
}
/* 2 колонка */
.mailingText {
    display: flex;
    flex-direction: column;
    align-content: start;
    row-gap: .75rem;
}
.mailingTitle {
    font-size: .9rem;
    font-weight: bold;
    line-height: 100%;
}
.mailingParagraph {
    font-size: .8rem;
    font-weight: 400;
}
.mailInputContainer {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    border-radius: 1.25rem;
    background-color: #F2ECE4;
}
.inputEmail {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    border: none;
    font-size: .8rem;
    outline: none;
    caret-color: transparent;
    background-color: transparent;
    padding-right: 0.45rem;
}

.customCaret {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 1rem;
    background-color: #151515;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.inputEmail:focus ~ .customCaret {
    opacity: 1;
    animation: blink 1s ease-in-out 0.3s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.sendEmailButton {
    width: 6rem;
    height: 100%;
    border: none;
    background-color: #780513;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
}
.sendEmailButton:hover {
    cursor: pointer;
    opacity: 0.9;
}
.sendEmailArrowPic {
    height: 40%;
}
.contactsInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.phoneAdress {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: .75rem;
}
.phone {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .8rem;
}
.phone img{
    height: 95%;
}
.phone p {
    padding-left: .5rem;
}
.adress {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .8rem;
}
.adress img{
    height: 95%;
}
.adress p {
    padding-left: .5rem;
}
.workDays {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: .75rem;
    font-size: .8rem;
}
.schedule {
    width: 100%;
    font-weight: bold;
}
.daysTimeContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* 3 колонка */

.socualsPoliticoContainer {
    width: 100%;
    height: 42.4%;
}
.socials {
    width: 100%;
    height: 28.3019%;
    display: flex;
    justify-content: end;
    column-gap: .5rem;
}
.linkDzen {
    width: 10.13%;
    height: 100%;
}
.dzenLogo {
    width: 100%;
    height: 100%;
}
.linkTg {
    width: 10.13%;
    height: 100%;
}
.tgLogo {
    width: 100%;
    height: 100%;
}
.linkVk {
    width: 10.13%;
    height: 100%;
}
.vkLogo {
    width: 100%;
    height: 100%;
}
.politico {
    width: 100%;
    height: 71.6981%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    flex-wrap: nowrap;
    font-size: .8rem;
    row-gap: 0.9rem;
    letter-spacing: 3%;
}
.politicoLink {
    text-decoration: none;
    color: #F2ECE4;
}
.copyrihgtText {
    width: 100%;
    text-align: end;
    text-wrap: nowrap;
} 

@media screen and (max-width: 767px) {
    .footer {
        height: auto;
        padding: 40px 20px 48px;
    }

    .footerGrid {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: initial;
        grid-template-areas: initial;
        gap: 40px;
    }

    .gridCol1 {
        grid-area: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .gridCol2 {
        grid-area: auto;
    }

    .gridCol3 {
        position: relative;
        grid-area: auto;
    }

    .mailingText {
        row-gap: 5px;
    }

    .logoContainer {
        min-width: 85px;
        width: 85px;
        height: 85px;
    }

    .rounds {
        height: auto;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }

    .roundElement {
        font-size: 12px;
        border-radius: 25px;
        padding: 5.5px 10px;
    }

    .roundStroke1 {
        height: auto;
    }
    .roundStroke2 {
        height: auto;
    }
    .roundStroke3 {
        height: auto;
    }

    .mailingTitle {
        font-weight: 400;
        font-size: 20px;
    }

    .mailingParagraph {
        font-size: 14px;
    }

    .mailInputContainer {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .socualsPoliticoContainer {
        height: auto;
    }

    .politico {
        height: auto;
        align-items: flex-start;
    }
    
    .socials {
        height: auto;
        justify-content: flex-start;
        margin-bottom: 35px;
    }
    
    .copyrihgtText {
        text-align: left;
    }

    .phone, .adress, .workDays {
        font-size: 1rem;
    }
    .schedule {
        display: none;
    }
    
    .daysTimeContainer {
        flex-direction: column;
        align-items: flex-end;
        gap: .75rem;
    }
}