.specificEvent {
    min-height: fit-content;
}
.container1 {
    margin-top: 16.105vw;
    margin-bottom: 10.978vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7.32vw;
}
.titleContainer {
    display: flex;
    width: 91.2153%;
    height: 17.2035vw;
    flex-direction: column;
    justify-content: space-between;
}
.titleContainerSub1 {
    width: 100%;
    height: 42.5532%;
    display: flex;
}
.titleContainerSub2 {
    width: 100%;
    height: 42.5532%;
    display: flex;
}
.title1 {
    width: 50%;
    display: flex;
    align-items: end;
    color: var(--secondary-color);
}
.title1 p{
    height: min-content;
}
.animation1 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation2 {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title2 {
    display: flex;
    align-items: end;
    color: var(--accent-color);
}
.title {
    letter-spacing: -0.05em;
    line-height: 72.7%;
    font-weight: 700;
    font-size: 6.4rem;
}
.mainInfoBlock {
    width: 91.2153%;
    height: 12.1523vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.paragraph1 {
    width: 42.4%;
}
.datePriceContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 100%;
}
.date {
    color: var(--accent-color);
}
.price {
    width: 100%;
    display: flex;
    justify-content: end;
    color: var(--secondary-color);
}

.strokeContainer {
    position: relative;
    height: 9.5168vw;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.strokeContainer::before,
.strokeContainer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        var(--secondary-color) 12%,
        var(--secondary-color) 88%,
        transparent
    );    
}

.strokeContainer::before {
    top: 0;
}

.strokeContainer::after {
    bottom: 0;
}

.strokeElement {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 18%;
    column-gap: 1rem;
}
.strokeTerm {
    font-weight: 700;
    font-size: 68px;
    line-height: 100%;
}
.strokeElementIcon {
    width: 3.5rem;
    height: 3.5rem;
}
.contentContainer {
    width: 91.2153%;
    height: 29.2826vw;
    display: flex;
    justify-content: space-between;
}
.paragraph2 {
    width: 40.7229%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.paragraph2Text {
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
    row-gap: 1rem;
}
.bigPictureContainer {
    width: 57.6707%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;

}
.bigPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

@media screen and (max-width: 768px) {
    .container1 {
        row-gap: 5vh;
        margin-bottom: 10vh;
        margin-top: 9rem;
    }
    .titleContainer {
        width: 89.33%;
        height: max-content;
        row-gap: 1.43rem;
    }
    .animation1 {
        height: 2.5rem;
    }
    .title {
        font-size: 3.43rem;
    }
    .mainInfoBlock {
        width: 89.33%;
        height: max-content;
        flex-direction: column;
        align-items: start;
        row-gap: 3.57rem;
    }
    .paragraph1 {
        width: 100%;
    }
    .datePriceContainer {
        height: max-content;
        width: 100%;
        row-gap: 1.43rem;
    }
    .dateContainer {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    .date {
        justify-content: start;
        font-weight: 500;
        font-size: 2.57rem;
        letter-spacing: -0.05em;
        line-height: 110%;
        color: var(--secondary-color);
    }
    .priceContainer {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
    .price {
        justify-content: start;
        font-weight: 500;
        font-size: 2.57rem;
        letter-spacing: -0.05em;
        line-height: 110%;
    }
    .subText {
        font-size: 1rem;
        font-weight: 400;
        line-height: 100%;
    }
    .strokeContainer {
        width: 100%;
        height: fit-content;
        padding: 1rem 0;
    }
    .strokeElement {
        height: 73.68%;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        row-gap: 0.36rem;
    }
    .strokeElementIcon {
        width: 3.21rem;
        height: 3.21rem;
    }
    .contentContainer {
        width: 89.33%;
        height: max-content;
        flex-direction: column-reverse;
        row-gap: 2.14rem;
    }
    .paragraph2 {
        width: 100%;
        row-gap: 2.14rem;
    }
    .bigPictureContainer {
        width: 100%;
        height: 14.29rem;
    }
    .bigPicture {
        border-radius: .57rem;
        object-fit: cover;
        object-position: center;
    }
}