.card.variant1 {
    width: 100%;
    height: 31.33vw;
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .75rem;
    box-sizing: border-box;
    outline: none;
    transition: outline 0.2s ease, outline-offset 0.2s ease;
}
.card.variant2 {
    width: 100%;
    height: 31.33vw;
    position: relative;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .75rem;
    box-sizing: border-box;
    outline: none;
    transition: outline 0.2s ease, outline-offset 0.2s ease;
}
.card.variant3 {
    width: 100%;
    height: 31.33vw;
    position: relative;
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-radius: .75rem;
    box-sizing: border-box;
    outline: none;
    transition: outline 0.2s ease, outline-offset 0.2s ease;
}
.cardImageContainer.variant1 {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .75rem;

}
.cardImageContainer.variant1::after {
    border-radius: .75rem;
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
    linear-gradient(to top, rgba(0,0,0,0.7), transparent 40%),
    linear-gradient(to bottom, rgba(0,0,0,0.7), transparent 40%),
    linear-gradient(to left, rgba(0,0,0,0.7), transparent 30%),
    linear-gradient(to right, rgba(0,0,0,0.7), transparent 30%);
}
.cardImageContainer.variant2 {
    width: 49.2%;
    height: 100%;
    border-radius: .75rem;
}
.cardImageContainer.variant3 {
    width: 49.2%;
    height: 100%;
    border-radius: .75rem;
}
.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .75rem;
}
.card:hover {
    border-radius: .75rem;
    outline: 2px solid var(--secondary-color);
    outline-offset: .5rem;
}
.cardTitleBox {
    width: 100%;
}
.cardTitle.variant1 {
    font-size: 3.4rem;
    font-weight: bold;
    color: var(--primary-color);
}
.cardTitle.variant2 {
    font-size: 3.4rem;
    font-weight: bold;
    color: var(--secondary-color);
}
.cardTitle.variant3 {
    font-size: 3.4rem;
    font-weight: bold;
    color: var(--secondary-color);
}
.cardContent.variant1 {
    position: absolute;
    z-index: 2;
    width: 96.79%;
    height: 90.47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardContent.variant2 {
    padding-right: 1rem;
    width: 47.6%;
    height: 90.47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
}
.cardContent.variant3 {
    padding-left: 1rem;
    width: 47.6%;
    height: 90.47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--secondary-color);
}
.cardTagsBox.variant1 {
    display: flex;
    width: auto;
    height: auto;
    gap: .5rem;
    color: var(--primary-color);
}
.cardTagsBox.variant2 {
    display: flex;
    width: auto;
    height: auto;
    column-gap: .5rem;
    color: var(--secondary-color);
}
.cardTagsBox.variant3 {
    display: flex;
    width: auto;
    height: auto;
    column-gap: .5rem;
    color: var(--secondary-color);
}
.cardTag.variant1 {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
}
.cardTag.variant2 {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
}
.cardTag.variant3 {
    padding: .5rem 1rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
}
.cardTextBox.variant1 {
    width: 31.67%;
    color: var(--primary-color);
}
.cardTextBox.variant2 {
    width: 100%;
    color: var(--secondary-color);
}
.cardTextBox.variant3 {
    width: 100%;
    color: var(--secondary-color);
}
.cardTagText {
    font-size: .7rem
}
.bottomRow {
    width: 100%;
    height: 13.16%;
    display: flex;
    justify-content: space-between;
}
.minInfoBox.variant1 {
    height: 100%;
    display: flex;
    width: 27.86%;
    justify-content: space-between;
    align-items: center;
}
.minInfoBox.variant2 {
    height: 100%;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}
.minInfoBox.variant3 {
    height: 100%;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}
.priceBox.variant1 {
    height: 48%;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--primary-color);
    text-wrap: nowrap;
}
.priceBox.variant2 {
    height: 48%;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--secondary-color);
    text-wrap: nowrap;
}
.priceBox.variant3 {
    height: 48%;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--secondary-color);
    text-wrap: nowrap;
}
.subBox.variant1 {
    height: 48%;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--primary-color);
    text-wrap: nowrap;
}
.subBox.variant2 {
    height: 48%;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--secondary-color);
    text-wrap: nowrap;
}
.subBox.variant3 {
    height: 48%;
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--secondary-color);
    text-wrap: nowrap;
}
.cardIcon {
    height: 100%;
    fill: var(--secondary-color);
}