.not-found-page-container {
    margin-top: 15vw;
    height:  100dvh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    font-size: 2rem;
}
@media screen and (max-width:768px) {
    .not-found-page-container {
        width: 89.33%;
        margin: 0 auto;
        margin-top: 9rem;
        text-align: center;
        padding: 2rem;
        row-gap: 2rem;    
    }
}