.accent {
	color: var(--accent-color);
}

.detailRent {
	min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7.32vw;
	margin-top: 16.105vw;
    margin-bottom: 10.978vw;
}

.detailRentContainer {
	max-width: 91%;
    width: 100%;
    display: grid;
    gap: 100px;
    margin: 0 auto;
}

.detailRentTitle {
	display: flex;
    flex-direction: column;
    letter-spacing: -0.05em;
    line-height: 100%;
    font-weight: 700;
    font-size: 6.4rem;
}

.detailRentTitleWrap {
	justify-content: space-between;
}

.detailRentTitle > span {
    display: flex;
    gap: 5vw;
}

.detailRentTitle > span:last-child {
    align-self: center;
    color: var(--accent-color);
}

.descBlock {
	display: grid;
    row-gap: 60px;
}

.descBlockImg {
    width: 100%;
}

.descBlockBlockRow {
	display: grid;
	grid-template-columns: 1fr max-content;
	justify-content: space-between;
	align-items: center;
	gap: 15vw;
}

.descBlockItemTitle {
	font-weight: 500;
	font-size: 40px;
	line-height: 100%;
	text-transform: uppercase;
}

.descBlockItem {
	display: grid;
	gap: 20px;
}

.descBlockItemText {
	font-size: 1rem;
	line-height: 120%;
}

.statBlockList {
	display: flex;
	gap: 60px;
}

.statBlockItem {
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.statBlockNumber {
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 100%;
}

.statBlockText {
	font-size: 24px;
	line-height: 100%;
}

.cardList {
	display: grid;
	gap: 60px;
}

@media screen and (max-width: 768px) {
	.descBlock {
		gap: 15px;
	}

	.descBlockItem {
		gap: 10px;
	}

	.descBlockItemTitle {
		font-size: 1.5rem;
	}

	.detailRentContainer {
		gap: 70px;
	}

	.detailRentTitle {
		font-size: 3rem;
	}

	.detailRentTitle img {
		max-width: 15vw;
	}

	.detailRentTitleWrap {
		gap: 2vw;
	}

	.descBlockBlockRow {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	.cardList {
		gap: 50px;
	}

	.statBlockList {
		gap: 10vw;
	}

	.statBlockItem {
		gap: 10px;
	}

	.statBlockNumber {
		font-weight: 500;
		font-size: 3rem;
	}

	.statBlockText {
		font-size: 1rem;
	}
}