.grid-container-events {
    width: 91.2153%;
    min-height: 90dvh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 16.105vw 12.2986vw 8.2723vw 6.8081vw 11.3469vw 1.3177vw 16.91vw 1.2445vw 10.9077vw 6.003vw 12.2254vw 1.4641vw 6.0761vw 7.6866vw 10.3953vw 10.981vw;
    grid-template-areas:
    ". . . . . . . . . . . . "
    "card1 card1 card1 card1 . text1 text1 text1 text1 card2 card2 card2"
    "card1 card1 card1 card1 card3 card3 card3 card3 . card2 card2 card2"
    ". . . . card3 card3 card3 card3 . card2 card2 card2"
    ". text2 text2 . . . . . . card2 card2 card2"
    "card4 card4 card4 card5 card5 . . . . card2 card2 card2"
    "card4 card4 card4 card5 card5 . . text3 text3 text3 text3 text3"
    ". . . card5 card5 . . . . . . ."
    ". . . card5 card5 . card6 card6 card6 card7 card7 card7"
    ". . . . . . . . . card7 card7 card7"
    "card8 card8 text4 text4 text4 text4 text4 text4 text4 card7 card7 card7"
    "card8 card8 . card9 card9 card9 card9 card9 . card7 card7 card7"
    "card8 card8 . card9 card9 card9 card9 card9 . . . ."
    "card8 card8 . card9 card9 card9 card9 card9 . card10 card10 ."
    "card8 card8 . . . . . . . card10 card10 ."
    ". . . . . . . . . . . . ";
    column-gap: 1rem;
    position: relative;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-color);
    background-origin: border-box;
    background-repeat: no-repeat;
}
.cardEvent {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cardEvent:hover {
    cursor: pointer;
}
.cardBody {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: end;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 0.9rem;
}
.TextBox {
    color: var(--secondary-color);
    font-weight: 700;
    line-height: 72.7%;
    letter-spacing: -0.05em;
    font-size: 6.4rem;
}

.cardButton {
    background-color: transparent;
    border: none;
}
.shortCardIcon {
    width: 2.25rem;
    height: auto;
}
.longCardIcon {
    width: 3.25rem;
    height: auto;
}
.cardDate {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -0.05em;
}
.cardText {
    width: min-content;
    font-size: 1.2rem;
    font-weight: 400;
}
.card1 {
    width: 100%;
    height: 100%;
    grid-area: card1;
}
.TextBox1 {
    width: 92.7861%;
    height: 100%;
    grid-area: text1;
    position: relative;
}
.card2 {
    width: 100%;
    height: 100%;
    grid-area: card2;
}
.TextBox2 {
    width: 104.72%;
    height: 100%;
    grid-area: text2;
    display: flex;
    align-items: start;
    padding-left: 1.75%;
    position: relative;
}
.TextBox2 span {
    position: absolute;
    top: -5.8%;
}
.card3 {
    width: 100%;
    height: 100%;
    grid-area: card3;
}
.card4 {
    width: 100%;
    height: 100%;
    grid-area: card4;
}
.card4 .cardDate {
    width: 55%;
}
.card5 {
    width: 100%;
    height: 100%;
    grid-area: card5;
}
.card5 a {
    display: flex;
    justify-content: start;
}
.card5 a .cardBody {
    padding-top: 0.5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.card5 a .cardBody .cardText {
    width: 100%;
    justify-self: start;
}
.TextBox3 {
    width: 94.9754%;
    height: 100%;
    grid-area: text3;
    display: flex;
    align-items: center;
}
.card6 {
    width: 100%;
    height: 100%;
    grid-area: card6;
}
.card7 {
    width: 100%;
    height: 100%;
    grid-area: card7;
}
.card8 {
    width: 100%;
    height: 100%;
    grid-area: card8;
}
.card8 a {
    display: flex;
    justify-content: start;
}
.card8 a .cardBody {
    padding-top: 0.5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.card8 a .cardBody .cardText {
    width: 100%;
    justify-self: start;
}
.TextBox4 {
    width: 100%;
    height: 100%;
    grid-area: text4;
    display: flex;
    align-items: start;
    justify-content: center;
    position: relative;
    padding-top: .5%;
}
.card9 {
    width: 100%;
    height: 100%;
    grid-area: card9;
}
.card10 {
    width: 100%;
    height: 100%;
    grid-area: card10;
    align-self: flex-end;
}
.card10 a {
    display: flex;
    justify-content: start;
}
.card10 a .cardBody {
    padding-top: 0.5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.card10 a .cardBody .cardText {
    width: 100%;
    justify-self: start;
}

@media (max-width: 768px) {

    .grid-container-events {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 9.4rem 4.7rem 6.8rem 3.2rem 2.2rem 2.2rem 4.3rem 4.7rem 2.2rem 6.5rem 4.7rem 2.2rem 6.5rem 2.2rem 1.5rem 3.2rem 6.5rem 7.2rem;
        grid-template-areas:
        ". . . . . ."
        "card1 card1 text1 text1 text1 text1"
        "card1 card1 . card2 card2 card2"
        "text2 text2 . card2 card2 card2 "
        "text2 text2 . . . ."
        ". . card3 card3 card3 ."
        "card6 card6 card3 card3 card3 ."
        "card6 card6 text3 text3 text3 text3"
        ". . . . . ."
        "card4 card4 card4 . card10 card10"
        "text4 text4 text4 text4 card10 card10"
        ". . . . . ."
        "card5 card5 card5 . card7 card7"
        ". . . . card7 card7"
        "card8 card8 . . card7 card7"
        "card8 card8 . . . ."
        "card8 card8 . card9 card9 card9"
        ". . . . . .";
    }
    
    .cardDate {
        font-size: 1.2rem;
    }

    .card1 a {
        gap: 0.4rem;    
    }
    
    .card1 a .cardBody {
        flex-direction: column;    
        flex: 1;    
    }
    
    .card1 a .cardBody  .cardText{
        justify-self: start;
        width: 100%;
    }

    .card4 a .cardDate {
        width: 100%;
    }
    
    .card5 a .cardBody {
        flex-direction: row;
        gap: 3rem;
    }

    .card6 a .cardBody {
        flex-direction: column;
        flex: 1;    
    }

    .card6 a .cardBody  .cardText{
        justify-self: start;
        width: 100%;
    }

    .card7 a .cardBody {
        flex-direction: column;
        flex: 1;
    }

    .card7 a .cardBody  .cardText{
        justify-self: start;
        width: 100%;
    }

    .card10 {
        position: absolute;
        width: 80%;
        right: 0;
    }

    .TextBox {
        font-size: 3.5rem;
    }

    .cardIconBox {
        display: flex;
    }

    .shortCardIcon {
        width: 2rem;
        height: auto;
    }

    .longCardIcon {
        width: 2.5rem;
        height: auto;
    }

    .cardText {
        font-size: 0.9rem;
    }

    .TextBox2 span {
        top: auto;
        bottom: 0;
    }

    .TextBox3 {
        position: relative;
    }

    .TextBox3 span {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .TextBox4 span {
        position: absolute;
        bottom: 0;
    }
}