.rentPage {
    min-height: 100dvh;

    margin-top: 16.105vw;
    margin-bottom: 10.978vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 7.32vw;
}

.rentPageContainer {
    max-width: 91%;
    width: 100%;
    display: grid;
    gap: 100px;
    margin: 0 auto;
}

.rentPageTitle {
    display: flex;
    flex-direction: column;
    letter-spacing: -0.05em;
    line-height: 100%;
    font-weight: 700;
    font-size: 6.4rem;
}

.rentPageTitle span {
    display: flex;
    gap: 5vw;
}

.rentPageTitle span:last-child {
    align-self: center;
    color: var(--accent-color);
}

.rentPageBlock {
    display: grid;
    row-gap: 60px;
}

.rentPageBlockImg {
    width: 100%;
}

.rentPageBlockRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.rentPageBlockItemTitle {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.rentPageBlockItemText {
    max-width: 80%;
}



.cardArea {
    transform: rotate(45eg);
}